

/* Meine eigenen Styles */

a
{
    color: #5B586B;
}

body
{
    background-color: #fdfdf2 !important;
    overflow-x: hidden;
}

.wrapper
{
    background-color: #fefefe;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(221,221,221,1);
    -moz-box-shadow: 0px 1px 2px 0px rgba(221,221,221,1);
    box-shadow: 0px 1px 2px 0px rgba(221,221,221,1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

/* --- NAVIGATION - SOZIALES NETZWERK - START --- */

/* Navigationsleiste*/

#nav_sn
{
    background-color: #332211;
    padding-right: 20px;
    height: 25px;
    line-height: 25px;
}

/* Navigationselemente*/

.nav_sn_link
{
    padding: 5px 15px 5px 15px;
    color: #f4e5c5;
}

.nav_sn_link:hover
{
    color: #6c7f2c;
}

/* --- NAVIGATION - START --- */

.nav_button
{
    background-color: #fdfdf2;
    border: none;
    border-radius: 0px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus
{
    color: #fdfdf2;
    background-color: #5b586b;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus
{
    color: #fdfdf2;
    background-color: #868492;
    transition: all 0.3s ease 0;
}

.navbar-default .navbar-nav > li > a
{
    color: #332111;
}

.nav_item_last> a
{
    border-right: 0.25px solid #ddd;
}

.nav_item> a, .nav_item_last> a
{
    border-left: 0.25px solid #ddd;
}

.navbar-default .navbar-nav > li
{
    width: 150px;
    background-color: #fdfdf2;
}

/* zentriert die Navigation*/

.navbar .navbar-nav
{
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse
{
    text-align: center;
}

.navbar
{
    z-index: 1;
}

.navbar-toggle
{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 0px;
    float: inherit;
}

#navigation_bar
{
    text-align: center;
}

/* --- NAVIGATION - ENDE --- */

/* --- LOGOROW - START --- */

#logo
{
    background: url(../pics/bg_logo.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#logo_left
{
    height: 250px;
    background: rgba(40, 100, 0, 0.40) none repeat;
}

#logo_left>h4
{
    color: #fdfdf2 !important;
    font-weight: bold;
    padding-top: 100px;
}

#logo_right
{
    height: 250px;
    background: rgba(40, 100, 0, 0.40) none repeat;
}

#logo_right>h4
{
    color: #fdfdf2 !important;
    font-weight: bold;
    padding-top: 100px;
}

#logo_inner
{
    height: 250px;
    background: rgba(40, 100, 0, 0.40) none repeat;
    padding-top: 25px;
}

#logo_inner img
{
    height: 200px;
}

/* --- LOGOROW - ENDE --- */

#test
{
    width: 100%;
}

#start_abschnitt_1
{
    margin-top: 50px;
    border-top: 1px solid #332211;
    border-bottom: 1px solid #332211;
    background-color: #a23b16;
}

#start_abschnitt_1 > .container >h1
{
    padding-top: 50px;
    padding-bottom: 20px;
    color: #fdfdf2;
    text-align: center;
}

#start_abschnitt_1 > .container >h4
{
    padding-bottom: 50px;
    color: #f4e5c5;
    text-align: center;
}

.button_paulo
{
    border: none;
    border-radius: 3px;
    color: #fdfdf2;
    bottom: 0;
    height: 48px;
    background-color: #5b586b;
    min-width: 150px;
}

.button_paulo:hover
{
    background: #868492;
    color: #fdfdf2;
}

.button_paulo_ext_dashboard
{
    background: #a23b16;
}

.button_paulo_ext_dashboard > i
{
    padding-left: 10px;
}

.button_paulo_ext_dashboard:hover
{
    background: #c2542c;
}

#start_abschnitt_0
{
    background-color: #332211;
    background: url("../pics/wood.jpg") repeat center center fixed;
    margin-top: 50px;
    margin-bottom: 25px;
}

#start_abschnitt_0 > .container > h1
{
    text-align: center;
    color: #fdfdf2;
    padding-top: 20px;
    padding-bottom: 20px;
}

#start_abschnitt_0 > .container > h5
{
    text-align: center;
    color: #fdfdf2;
    padding-bottom: 20px;
}

/* --- dashboard_elemente START --- */

.dash_element_col
{
    padding-left: 0;
    padding-right: 0;
}

.dash_element_holder
{
    margin: 0 12.5px;
}

.dash_element
{
    border: solid 1px #ddd;
    border-radius: 4px;
    padding: 25px 30px;
    margin-bottom: 20px;
    min-height: 530px;
    position: relative;
}

.dash_element > h4
{
    margin-top: 0;
}

.dash_element > h5
{
    margin-top: 15px;
    margin-bottom: 15px;
    font-style: italic;
}

.dash_element > h5, ul
{
    margin-left: 20px;
    list-style: none;
}

.dash_element a
{
    cursor: pointer;
    color: #6c7f2c;
}
.last_element_dash
{
    position: absolute;
    bottom: 10px;
    width: 100%;
    padding-right: 30px;
}

.list_text
{
    padding-bottom: 5px;
}

.abonnement_element
{
    padding-bottom: 20px;
}

.hr_line
{
    border-top: 1px solid #ddd;
    margin-top: 0;
    margin-bottom: 20px;
}

.hr_line_ext_dashboard_middle
{
    margin-top: 10px;
    margin-bottom: 15px;
}

.hr_line_ext_dashboard_last
{
    margin-top: 20px;
    margin-bottom: 5px;
}

#help_icon
{
    margin-top: 25px;
    margin-bottom: 5px;
    color: #5b586b;
}

#help_text
{
    cursor: pointer;
    color: #5b586b;
}

#help_icon:hover, #help_text:hover
{
    color: #868492;
}

/* --- FOOTER - START ---  */

#footer
{
    padding: 20px;
    padding-top: 50px;
    height: 300px;
    background-color: #332211;
    margin-top: 40px;
}

#footer h4, #footer p, #footer a
{
    color: #827262;
}

.hr_line_ext_footer
{
    border-top: 1px solid #6f6052;
    margin-top: 20px;
}

.preisfarbe
{
    font-weight: bold;
    color: #962c28;
}

.beschreibung
{
    font-weight: bold;
}

/* --- FOOTER - ENDE---  */

/* --- dashboard_elemente ENDE --- */

/* medium devices (bis 992px) */

@media (max-width:992px)
{
    .navbar-nav > li > a
    {
        padding: 15px 0px;
    }
    .navbar-default .navbar-nav > li
    {
        width: 110px;
    }
}

/* Small devices (bis 767px) */

@media (max-width:767px)
{
    .navbar-nav > li > a
    {
        padding: 15px;
    }
    .navbar-default .navbar-nav > li
    {
        width: 150px;
    }
    .nav_item> a
    {
        border-left: 0;
        border-right: 0;
    }
    .nav_item_last> a
    {
        border-left: 0;
        border-right: 0;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form
    {
        border: 0;
    }
}



